@font-face {
font-family: 'YakumoPreschoolHand';
src: url('/static/data/YakumoPreschoolHand.ttf');
}
h1 {
font-family: 'YakumoPreschoolHand', 'Comic Sans MS';
}
.text {
vertical-align: middle;
text-align: center;
font-size: 5.5vw;
}
.news_text {
position: absolute;
margin-left: 28vw;
top: 30vh;
}
html {
height: 100vh;
overflow-y: hidden;
}
body {
margin: 0;
height: 70vh;
background-size: cover;
}
.carousel {
position: absolutely;
height: 110vh;
width: 80vw;
margin-left: 11vw;
margin-top: 12vh;
}
.carousel slide pointer-event {
position: absolutely;
}
.carousel-inner {
border: 3px solid black;
}
