@font-face {
font-family: 'YakumoPreschoolHand';
src: url('/static/data/YakumoPreschoolHand.ttf');
}
h1 {
font-family: 'YakumoPreschoolHand', 'Comic Sans MS';
}
.text {
vertical-align: middle;
text-align: center;
font-size: 3vw;
}
html {
height: 100vh;
}
body {
margin: 0;
height: 70vh;
background: url('/static/data/bg1.png');
background-size: cover;
}
.carousel {
  height: 80vh;
  width: 40vw;
  margin-left: 30vw;
  margin-top: 0.5vh;
}
/*.carousel-inner img {
  height: 80vh;
  width: 40vw;
}*/
.carousel-indicators li {
  border-color: #808080;
  background-color: #808080;
}
.carousel-indicators .active {
  margin-top: -19vh;
}