@font-face {
font-family: 'YakumoPreschoolHand';
src: url('/static/data/YakumoPreschoolHand.ttf');
}
h1 {
font-family: 'YakumoPreschoolHand', 'Comic Sans MS';
}
.text {
vertical-align: middle;
text-align: center;
font-size: 3vw;
}
.news_text {
position: absolute;
margin-left: 41.5vw;
top: 38vh;
}
html {
height: 100vh;
overflow-y: hidden;
}
body {
margin: 0;
height: 70vh;
background: url('/static/data/bg1.png');
background-size: cover;
}
.carousel {
position: absolutely;
height: 80vh;
width: 40vw;
margin-left: 30vw;
margin-top: 12vh;
}
.carousel slide pointer-event {
position: absolutely;
}
.carousel-inner {
border: 3px solid black;
}