<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photobooth</title>
    <link rel="shortcut icon" href="/static/data/icon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/main.css') }}">
    <script type="text/javascript" src="static/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="static/js/parser.js"></script>
</head>
<body id="transition">
    <div>
        <h1 class="text" style="margin-top: 18vh;" onClick="window.location.href='/camera'"><b>Добро пожаловать в фото-будку!</b></h1>
        <h1 class="text" onClick="window.location.href='/camera'"><b>Нажмите на текст, чтобы продолжить!</b></h1>
    </div>
    <!-- Начало карусели -->
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000" id="img_1">
            </div>
            <div class="carousel-item" data-bs-interval="2000" id="img_2">
            </div>
            <div class="carousel-item" id="img_3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
         <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
    <!-- Конец карусели -->
</body>
</html>