<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photobooth</title>
    <link rel="shortcut icon" href="/static/data/icon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/main.css') }}">
    <script type="text/javascript" src="static/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="static/js/parser.js"></script>
</head>
<body id="transition">
    <div>
        <h1 class="text" style="margin-top: 18vh;" onClick="window.location.href='/camera'"><b>Добро пожаловать!</b></h1>
        <h1 class="text" onClick="window.location.href='/camera'"><b>Нажмите на текст, чтобы продолжить!</b></h1>
    </div>
    <div class="news_text">
        <h1 style="vertical-align: middle; text-align: center; font-size: 5vw;">Новости нашей школы!</h1>
    </div>
    <!-- Начало карусели -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true">
        <div class="carousel-inner">
            <div class="carousel-item active" id="img_1">
            </div>
            <div class="carousel-item" id="img_2">
            </div>
            <div class="carousel-item" id="img_3">
            </div>
        </div>
    </div>
    <!-- Конец карусели -->
</body>
</html>