<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photobooth</title>
    <link rel="shortcut icon" href="/static/data/icon.png" type="image/png">
    <style>
        @font-face {
         font-family: 'YakumoPreschoolHand';
         src: url('static/data/YakumoPreschoolHand.ttf');
        }
        h1 {
        font-family: 'YakumoPreschoolHand', 'Comic Sans MS';
        }
        video{
        transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        }
   </style>
</head>
<body>
    <div class="video-wrap" id="camera">
        <center><video id="video" playsinline autoplay></video></center>
    </div>
    <div class="controller">
        <button id="snap">Захват</button>
    </div>
    <div id="img" style="opacity: 0">
        <canvas id="canvas" width="1280" height="720"></canvas>
    </div>
    <div id="qr-code">
    </div>
    <script type="text/javascript" src="static/webcam.js"></script>
    <script type="text/javascript" src="static/qrcode.js"></script>
</body>
</html>