<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photobooth</title>
    <link rel="shortcut icon" href="/static/data/icon.png" type="image/png">
    <style>
        @font-face {
         font-family: 'YakumoPreschoolHand';
         src: url('static/data/YakumoPreschoolHand.ttf');
        }
        h1 {
        font-family: 'YakumoPreschoolHand', 'Comic Sans MS';
        }
    </style>
</head>
<body>
    <div>
        <center><img src="{{ path_img }}" style="margin-top: 2%"></img></center>
    </div>
</body>
</html>